:root {
    --cor-do-fundo: #FFFFFF;
    --fonte-principal: 'Open Sans', sans-serif;
    --cor-da-fonte: #2d3748;
    --cor-do-botao: #e2e8f0;
    --cor-botao-hover: #F2F2F2;
    --cor-borda-tabela: #e2e8f0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--cor-do-fundo);
    background: var(--cor-do-fundo);
    text-decoration: none solid rgb(45, 55, 72);
}

.conteudo {
    margin: 50px;
}

.titulo {
    margin-bottom: 50px;
    text-align: center;
    color: var(--cor-da-fonte);
    font-size: 2rem;
    font-weight: 600;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form-field {
    margin: 5px 0;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    color: var(--cor-da-fonte);
    background-color: var(--cor-do-botao);
}

.button-submit {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color:var(--cor-do-botao);
    font-weight: 600;
    cursor: pointer;
}

.button-submit:hover {
    background-color: var(--cor-borda-tabela);
    transition: background-color 0.5s;
}

.tabela {
    width: 100%;
    margin-top: 30px;
}

.celula-cabeca, .celula {
    text-align: left;
    padding: 8px;
    border: 1px solid var(--cor-borda-tabela);
}

.celula-cabeca {
    font-style: bold;
    font-weight: 600;
}

tr:hover {
    background-color: var(--cor-do-botao);
}