* {
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #EEEEEE;
}

header {
    background-color: #3F72AF;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
    color: #222831;
    text-align: center;
}

main {
    padding: 30px 50px;
}

.card {
    background-color: #EEEEEE;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
}

.lineInput {
    display: grid;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

button {
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: #3F72AF;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover {
    background-color: #112D4E;
}

.content {
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

table th {
    background-color: rgb(214, 214, 214);
}

table th, td {
    padding: 1px 5px;
    text-align: left;
}

table td img {
    width: 20px;
}

.center {
    text-align: center;
}