* {
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f7fafc;
    text-decoration-color: #2d3748;
}

header {
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
    color: #2d3748;
    text-align: center;
}

main {
    padding: 30px 50px;
}

.card {
    background-color: #f7fafc;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
}

.lineInput {
    display: grid;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

button {
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: #FFF;
    color: #2d3748;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #e2e8f0;
    transform: scale(1.05);
}

.content {
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

table th {
    background-color: rgb(214, 214, 214);
}

table th, td {
    padding: 1px 5px;
    text-align: left;
}

table td img {
    width: 20px;
}

.center {
    text-align: center;
}

.acoes {
    text-align: center;
    cursor: pointer;
}